<header>
  <div class="bg-blue-400 flex justify-between items-center p-3">
   
    @if (authservice.isLoggedIn) {
      <button
        (click)="toggleSidebar()"
        class="text-white text-2xl ml-6"
        aria-label="menu"
      >
        ☰
      </button>
    }

    <span class="text-white font-bold text-2xl">Employee Management System</span>
    <span></span>

    @if (authservice.isLoggedIn) {

       <!-- Show logged-in user email -->
    <span routerLink="/Profile" class="text-xl font-medium text-gray-700">
    {{ authservice.AuthDetail?.email }}
    </span>

      <button
        (click)="logout()"
        class="bg-red-500 hover:bg-red-600 text-white font-medium px-3 py-2 rounded-lg shadow-md transition"
      >
        Logout
      </button>
    }@else {
    <!-- Login button -->
    <a routerLink="/login"
       class="flex items-center gap-2 px-4 py-2 text-sm font-medium text-white 
              bg-gray-800 rounded-lg shadow 
              hover:bg-gray-700 transition-colors duration-300">
      <!-- <lucide-icon [img]="LogIn" class="w-5 h-5"></lucide-icon> -->
      <span>Login</span>
    </a>
  }
  </div>
</header>


@if (authservice.isLoggedIn) {
  <div class="flex">
    @if (sidebarVisible && isSidebarOpen) {
      <div class="w-[250px] bg-white shadow-lg min-h-screen p-5 space-y-2">
        <nav>
          @if (authservice.isEmployee) {
            <a routerLink="/employee-dashboard" routerLinkActive="bg-gray-100 text-gray-900"
               class="block text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
              employee dashboard
            </a>
            <a routerLink="/Leave" routerLinkActive="bg-gray-100 text-gray-900"
               class="block text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
              Leave
            </a>
            <a routerLink="/attendance" routerLinkActive="bg-gray-100 text-gray-900"
               class="block text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
              Attendance
            </a>
          }
          @else {
            <a routerLink="/" routerLinkActive="bg-gray-100 text-gray-900"
               class="block text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
              Admin Dashboard
            </a>
            <a routerLink="/departments" routerLinkActive="bg-gray-100 text-gray-900"
               class="block text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
              Departments
            </a>
            <a routerLink="/employee" routerLinkActive="bg-gray-100 text-gray-900"
               class="block text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
              Employees
            </a>
            <a routerLink="/Leave" routerLinkActive="bg-gray-100 text-gray-900"
               class="block text-gray-600 hover:text-gray-900 hover:bg-gray-50 rounded-lg px-3 py-2">
              Leave
            </a>
          }
        </nav>
      </div>
    }

    <div class="flex-1 min-h-screen bg-gray-100">
      <router-outlet></router-outlet>
    </div>
  </div>
} 


@else {
  
  <main class="min-h-screen bg-gray-100">
    <router-outlet></router-outlet>
  </main>
}

<footer class="bg-gray-100 text-center py-3 text-gray-500 text-sm border-t">
  © 2025 Employee Management System
</footer>







